{% extends "base.html.twig" %}

{% block nav %}
{{ include ("modules/navbar.html.twig") }}
{% endblock %}

{% block body %}
<div class="container">
  {% if app.request.hasPreviousSession %}
  {% for message in app.flashes('success') %}
  <div class="alert alert-success">
    {{message}}
  </div>
  {% endfor %}
  {% for message in app.flashes('error') %}
  <div class="alert alert-danger mt-4">
    {{message}}
  </div>
  {% endfor %}
  {% endif %}
  <div class="row mt-4">
    <div class="col-md-8">
      <h3>Liste des {{target}}s</h3>
    </div>

    <div class="col-md-4 row">

      <div class="col-md-4">
        <a href="{{actionLink['pagenew']}}" class="btn btn-block btn-primary maincolor btn-sm btn-flat">
          <i class="fas fa-add mr-2"></i>
          Ajouter</a>

      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-block btn-primary maincolor btn-sm btn-flat" data-toggle="modal"
          data-target="#modal-lg">
          Importer
        </button>
      </div>
      <div class="col-md-4">
        <a href="" class="btn btn-block btn-primary maincolor btn-sm btn-flat">
          <i class="fas fa-add mr-2"></i>
          Exporter</a>

      </div>

    </div>

    {# {{ include ("modules/modal-import.html.twig",{form:form,target:target,redirect:redirect}) }} #}

    {{ include ("modules/search-bar.html.twig",{
        action : "target-list",
        searchList:search,
        preAddparams:preAddparams,
        oldparamsArray:oldparamsArray,
        orderbyList:orderby,
        target:target,
        actionLink:actionLink,
        mode:mode
    }) }}


  </div>
  {{ include ("modules/list.html.twig" , {
    keyText : keyText,
    target:target,
    results:results,
    keys:keys,
    actionLink:actionLink,
    mode:mode,
    oldparams:oldparams,
    paginationData:paginationData,
    mode:mode,

  }) }}
</div>
{% endblock %}
{% block javascripts %}
<script>

  $('.custom-file-input').on('change', function (event) {
    var inputFile = event.currentTarget;
    $(inputFile).parent()
      .find('.custom-file-label')
      .html(inputFile.files[0].name);
  });
</script>
{% endblock %}